body {
    background-color: #E7F6F2;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
    color: #40514e;
}

a {
    color: #2C3333;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

h1 {
    color: #146C94;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 0 auto 0 auto;
    line-height: 1.5;
}

h2 {
    color: #19A7CE;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;
}


h3 {
    color: #10b9e8dc;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted #9c9d9d 6px;
    border-bottom: none;
    width: 6%;
}

.pro {
    text-decoration: underline;
}

.skill-row-1 {
    width: 50%;
    /* display: inline-block; */
    margin: 70px auto 50px auto;
    text-align: left;
    line-height: 2;
}

.skill-row-2 {
    width: 50%;
    margin: 130px auto 50px auto;
    text-align: left;
    line-height: 2;
}

.skill-row-3 {
    width: 50%;
    margin: 130px auto 50px auto;
    text-align: left;
    line-height: 2;
}

.skills {
    margin-top: 50px; 
}

.profile-image {
    border-radius: 30%;
    width: 350px;
    height: 350;
    margin-bottom: 30px;
}

.AI {
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.web-dev {
    border-radius: 100%;
    width: 25%;
    float: right;
    margin-right: 30px;
}

.architecture {
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.top-container {
    margin: 30px auto 10px auto;
}

.profile {
    width: 40%;
    margin: 0 auto 50px auto;
}
.contact-me {
    width: 40%;
    margin: 40px auto 60px;
    /* padding-bottom: 40px; */
}

.top-h2 {
    margin-bottom: 30px;
    font-weight: normal;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 30px 0 10px;
}

.btn {
    line-height: 7;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}



.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}